<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Régimes & Délices{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/icon/64-64.png') }}" />

        <!-- -------- CSS -------- -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- ---- JavaScript ----- -->
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        <!-- Barre de navigation du top -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
                        <span class="sr-only">Ouvrir le menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" title="Accueil"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <!-- Contenu des menus de la barre de navigation -->
                <div class="collapse navbar-collapse" id="top-menu">
                    <ul class="nav navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="disabled"><a href="">Catalogue</a></li>
                            <li class="disabled"><a href="">Stocks</a></li>
                            <li class="disabled"><a href="">Commandes clients</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Administration <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="disabled"><a href="">Fournisseurs</a></li>
                                    <li class="disabled"><a href="">Logisticiens</a></li>
                                    <li class="disabled"><a href="">Clients</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="disabled"><a href="">Comptes utilisateurs</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="disabled"><a href="">Profil</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ logout_path() }}">
                                            <span class="glyphicon glyphicon-off"></span> Se déconnecter
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="corps" class="container-fluid">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <!-- Barre de navigation du bottom -->
        <footer class="footer">
            <nav class="navbar navbar-default navbar-bottom">
                <div class="container">
                    <p class="navbar-text">
                        <a href="https://github.com/LUCILE-DECROZANT-TRIQUENAUX-EIRL/pgi-regimes-et-delices" class="navbar-link" target="_blank">
                            Code source <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </p>
                    <p class="navbar-text">
                        Copyright 2018 Régimes & Délices
                    </p>
                    <p class="navbar-text">
                        <a href="https://www.gnu.org/licenses/agpl-3.0" class="navbar-link" target="_blank">
                            Application sous licence AGPL v3 <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </p>
                </div>
            </nav>
        </footer>
    </body>
</html>
